<h1 mat-dialog-title>Rules</h1>
<div mat-dialog-content>
    <img src="assets/rpsls.jpg" alt="Rock, paper, scissors, lizard, spock.">
    <div>
        <p style="max-width: 15rem;"> "Scissors cuts paper, paper covers rock, rock crushes lizard, lizard poisons Spock, Spock smashes scissors, scissors decapitates lizard, lizard eats paper, paper disproves Spock, Spock vaporizes rock, and as it always has, rock crushes scissors."</p>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close style="margin: 0 0 0 auto">Ok</button>
</div>