<h1 mat-dialog-title>Info</h1>
<div mat-dialog-content>
    <div>
        <p style="max-width: 15rem;"> Game and rules by <b>Sam Kass</b>.</p>
    </div>
    <div>
        <p style="max-width: 15rem;"> Application by <b>Leandro Bartolozzi Meneghini</b>.</p>
    </div>
    <div>
        <mat-icon style="vertical-align: unset;" fontSet="fab" fontIcon="fa-github"></mat-icon><b>github.com/leolozz</b>
    </div>
    <div>
        <mat-icon style="vertical-align: unset;" fontSet="fab" fontIcon="fa-angular"></mat-icon><b>Angular 12.0.3</b>
    </div>
    <div>
        <mat-icon style="vertical-align: unset;" fontSet="fa" fontIcon="fa-globe"></mat-icon><b>.NET Core 5.0.1</b>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close style="margin: 0 0 0 auto">Ok</button>
</div>