<h1 mat-dialog-title>Info</h1>
<div mat-dialog-content>
    <div>
        <p style="max-width: 15rem;"> Game and rules by Sam Klass.</p>
    </div>
    <div>
        <p style="max-width: 15rem;"> Application by Leandro Bartolozzi Meneghini. @github/lbrzz</p>
    </div>
    <div>
        <p style="max-width: 15rem;"> Web application developed in Angular 12 and .NET Core 5</p>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close style="margin: 0 0 0 auto">Ok</button>
</div>